<td colspan="3">
  {{content.description}}
  {{#if content.isDynamic}}
    {{#power-select options=options1 selected=selected1 onchange=(action (mut selected1)) as |item|}}
      {{item}}
    {{/power-select}}
    {{#power-select options=options2 selected=selected2 onchange=(action (mut selected2)) as |item|}}
      {{item}}
    {{/power-select}}
  {{/if}}
</td>